@import "globals.scss";

.title {
    color: $title-color;
    font-weight: 700;
    width: fit-content;
    padding: 0.5rem 0.5rem;
    border-bottom : $title-border;
}


.aboutCard {
    margin: 4rem 2rem;
    padding: 1rem 1rem;
    background: $card-bg;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    font-weight: 500;
    color: $text-color;
    font-size: 1.4rem;
    border: $card-border;
}

.icon {
    width: 3rem;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    width: 7rem;
}

.aboutIntro {
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: $text-color;
}