$background: #12181d;
$text-color: #b2becd;
$title-color: #fff;
$nav-shadow: 4px 0 10px -3px #0c0c0c;
$card-shadow: 0 4px 8px rgba(0,0,0,0.30);
$nav-bg: #2a2e3d;
$card-bg: #383e52;
$title-border: 2px dashed $card-bg;
$card-border: 1px solid $nav-bg;
$card-radius: 0.25em;