@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

$background: #12181d;
$text-color: #b2becd;
$title-color: #fff;
$nav-shadow: 4px 0 10px -3px #0c0c0c;
$card-shadow: 0 4px 8px rgba(0,0,0,0.30);
$nav-bg: #2a2e3d;
$card-bg: #383e52;
$title-border: 2px dashed $card-bg;
$card-border: 1px solid $nav-bg;
$card-radius: 0.25em;

:root {
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Russo one', monospace, sans-serif;
    font-weight: 200;
    min-height: 100vh;
    /*background-color: rgb(223, 233, 248); */
    background: $background;
}

li {
    list-style: none;
}

li::before {
    content: '';
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    background: $text-color;
    margin-right: 5px;
    border-radius: 0.6rem;
}

#__next {
    min-height: 100vh;
}

main {
    max-width: 850px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.flx {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:450px) {
    :root {
        font-size: 10px;
    }
}